[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyside2" = "==5.13"
hidiocore = "==0.1.0b2"
fbs = "==0.8"
pyinstaller = "==3.5"

[dev-packages]

[requires]
python_version = "3.7"
